[project]
	description = Texas Holdem game using local network to connect players
[access "refs/*"]
	owner = group user/yakoobs (yakoobs)
[access "refs/for/refs/*"]
	read = group user/yakoobs (yakoobs)
	push = group user/yakoobs (yakoobs)
	label-Code-Review = -2..+2 group user/yakoobs (yakoobs)
	label-Verified = -1..+1 group user/yakoobs (yakoobs)
	rebase = group user/yakoobs (yakoobs)
	removeReviewer = group user/yakoobs (yakoobs)
	submit = group user/yakoobs (yakoobs)
[access "refs/heads/*"]
	read = group user/yakoobs (yakoobs)
	create = group user/yakoobs (yakoobs)
	push = +force group user/yakoobs (yakoobs)
	pushMerge = group user/yakoobs (yakoobs)
[access "refs/tags/*"]
	push = +force group user/yakoobs (yakoobs)
	pushTag = group user/yakoobs (yakoobs)
	pushSignedTag = group user/yakoobs (yakoobs)
[receive]
	requireSignedOffBy = false
	requireChangeId = false
[submit]
	action = merge always
	mergeContent = true
